body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a:hover {
    color: #ffe200;
}

.div2 {
    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: space-evenly;
}

.div2 img {
    border-radius: 10%;
}

.div2 .ComoContratrar ul {
    list-style: none;
}

.div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setOfThree {
    display: flex;
    justify-content: space-evenly;
    
}

.setOfThree div{
    background-color: cornflowerblue;
    border-radius: 5%;
}

.div5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div5 .answerBoxes div{
    display: flex;
    align-items: center;
    background-color: darkblue;
}

.h-400 {
    height: 400px;
}

.h-45 {
    height: 45px;
}

.w-full {
    width: 100%;
}

.w-115 {
    width: 115px;
}

.w-100 {
    width: 213px;
}

.w-100 {
    width: 120px;
}

.bg-blue-800 {
    background-color: #0a0049;
}

.bg-yellow-400{
    background-color: #ffe200;
}

.text-white {
    color: white;
}

.text-xl {
    font-size: 50px;
}

.text-decoration-none {
    text-decoration: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.border-rad-50 {
    border-radius: 50%;
}

.border-rad-10 {
    border-radius: 10%;
}

.justify-cont-around {
    justify-content: space-evenly;
}

.list-style-none {
    list-style: none;
}

.border-style-none {
    border-style: none;
}

.padding {
    padding: 1em;
}