body{
    font-family: Arial, Helvetica, sans-serif;
}

.navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkblue;

    color: white;
} 

.navigation {
    display: flex;
    list-style: none;
} 

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: blue;
}

.yellowButton {
    background-color: yellow;
    color: black;
    border-radius: 20%;
}

.div2 {
    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: space-evenly;
}

.div2 img {
    border-radius: 10%;
}

.div2 .ComoContratrar ul {
    list-style: none;
}

.div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setOfThree {
    display: flex;
    justify-content: space-evenly;
    
}

.setOfThree div{
    background-color: cornflowerblue;
    border-radius: 5%;
}

.div5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div5 .answerBoxes div{
    display: flex;
    align-items: center;
    background-color: darkblue;
}

.h-40 {
    height: 400px;
}

.w-full {
    width: 100%;
}

.w-115 {
    width: 115px;
}

.w-100 {
    width: 213px;
}

.bg-blue-800 {
    background-color: #0a0049;
}

.bg-yellow-400{
    background-color: #ffe200;
}

.text-white {
    color: white;
}

.text-xl {
    font-size: 50px;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.border-rad-50 {
    border-radius: 50%;
}

.justify-cont-around {
    justify-content: space-evenly;
}