body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setOfThree {
    display: flex;
    justify-content: space-evenly;
    
}

.setOfThree div{
    background-color: cornflowerblue;
    border-radius: 5%;
}

.div5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div5 .answerBoxes div{
    display: flex;
    align-items: center;
    background-color: darkblue;
}

.h-full {
    height: 100%;
}

.h-700 {
    height: 700px;
}

.h-550 {
    height: 525px;
}

.h-400 {
    height: 400px;
}

.h-45 {
    height: 45px;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 40%;
}

.w-three-quarters{
    width: 75%;
}

.w-115 {
    width: 115px;
}

.w-120 {
    width: 120px;
}

.w-213 {
    width: 213px;
}

.w-350 {
    width: 350px;
}

.w-500 {
    width: 500px;
}

.bg-blue-800 {
    background-color: #0a0049;
}

.bg-yellow-400{
    background-color: #ffe200;
}

.text-white {
    color: white;
}

.text-blue-800 {
    color: #0a0049;
}

.text-5xl {
    font-size: 50px;
}

.text-decoration-none {
    text-decoration: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.border-rad-50 {
    border-radius: 50%;
}

.border-rad-10 {
    border-radius: 10%;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}
.list-style-none {
    list-style: none;
}

.border-style-none {
    border-style: none;
}

.padding {
    padding: 1em;
}

.hover--text-yellow-400:hover {
    color: #ffe200;
}

.position-relative {
    position: relative;
    overflow: hidden;
}

.position-absolute {
    position: absolute;
}

.top-25 {
    top: 25%;
}

.left-10 {
    left: 10%;
}