body{
    font-family: Arial, Helvetica, sans-serif;
}

.navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkblue;

    color: white;
} 

.navigation {
    display: flex;
    list-style: none;
} 

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: blue;
}

.yellowButton {
    background-color: yellow;
    color: black;
    border-radius: 20%;
}

.div2 {
    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: space-evenly;
}

.div2 img {
    border-radius: 10%;
}

.div2 .ComoContratrar ul {
    list-style: none;
}

.div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setOfThree {
    display: flex;
    justify-content: space-evenly;
    
}

.setOfThree div{
    background-color: cornflowerblue;
    border-radius: 5%;
}

.div4 {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div4 ul{
    list-style: none;
    display: flex;
}

.div4 li {
    display: flex;
    flex-direction: column;
}

.div4 img {
    background-color: yellow;
    border-radius: 50%;
}