body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.h-full {
    height: 100%;
}

.h-700 {
    height: 700px;
}

.h-550 {
    height: 525px;
}

.h-400 {
    height: 400px;
}

.h-250 {
    height: 250px;
}

.h-150 {
    height: 150px;
}

.h-45 {
    height: 45px;
}

.h-40 {
    height: 40px;
}

.w-full {
    width: 100%;
}

.w-almost-full {
    width: 90%;
}

.w-half {
    width: 40%;
}

.w-three-quarters{
    width: 75%;
}

.w-115 {
    width: 115px;
}

.w-120 {
    width: 120px;
}

.w-170 {
    width: 170px;
}

.w-213 {
    width: 213px;
}

.w-300 {
    width: 300px;
}

.w-350 {
    width: 350px;
}

.w-470 {
    width: 470px;
}

.w-500 {
    width: 500px;
}

.bg-blue-800 {
    background-color: #0a0049;
}

.bg-blue-500 {
    background-color: #4e86fb;
}

.bg-yellow-400{
    background-color: #ffe200;
}

.text-white {
    color: white;
}

.text-blue-800 {
    color: #0a0049;
}

.text-yellow-400 {
    color: #ffe200;
}

.text-5xl {
    font-size: 50px;
}

.text-decoration-none {
    text-decoration: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.border-rad-50 {
    border-radius: 50%;
}

.border-rad-10 {
    border-radius: 10%;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}
.list-style-none {
    list-style: none;
}

.border-style-none {
    border-style: none;
}

.padding {
    padding: 1em;
}

.padding-left {
    padding-left: 1em;
}

.padding-top {
    padding-top: 1em;
}

.hover--text-yellow-400:hover {
    color: #ffe200;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-25 {
    top: 25%;
}

.left-10 {
    left: 10%;
}

.margin {
    margin-right: 10px
}