ul li a:hover {
    background-color:#f2f2f2;
}

div p{
    margin-bottom:  20px;
    padding: 10px;
}

text :focus{
    border: solid;
    border-width:  10px;
    color: #e61010;
}

div input[type="text"]:focus {
    border: solid 10px;
    color: #ccc;
}

div ul li:first-child a{
    color: #008000
}

